<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Brand Prices</title>
</head>
<body>
<h1>브랜드별 최소/최대 가격</h1>
<table>
    <tr>
        <th>카테고리</th>
        <th>브랜드</th>
        <th>최소 가격</th>
        <th>최대 가격</th>
    </tr>
    <tr th:each="price : ${minMaxPrices}">
        <td th:text="${price.categoryName}">카테고리</td>
        <td th:text="${price.brandName}">브랜드</td>
        <td th:text="${price.minPrice}">최소 가격</td>
        <td th:text="${price.maxPrice}">최대 가격</td>
    </tr>
</table>
</body>
</html>
