<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Prices</title>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-4">
        <h1 class="text-center">카테고리별 최저 가격</h1>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>카테고리</th>
                <th>브랜드</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="price : ${minPrices}">
                <td th:text="${price.categoryName}"></td>
                <td th:text="${price.brandName}"></td>
                <td th:text="${#numbers.formatInteger(price.price, 3, 'COMMA')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
