<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="musinsa.test.codi.admin.mapper.AdminBrandMapper">

    <insert id="insertBrand" useGeneratedKeys="true" keyProperty="brandId">
        INSERT INTO brand (brand_name)
        VALUES (#{brandName})
    </insert>

    <update id="updateBrand">
        UPDATE brand
        SET brand_name = #{brandName}
        WHERE brand_id = #{brandId}
    </update>

    <delete id="deleteBrand">
        DELETE FROM brand WHERE brand_id = #{brandId}
    </delete>
</mapper>
